:root{
    --primary: #3B71CA;
    --primaryButton: #0d6efd;
    --gray: #4f5458;
    --light: #FBFBFB;
    --color: #332D2D;
    --bodyBg: #FBFBFB;
    --contBg: #FBFBFB;
    --red: #EE4266;
    --tabBg: #ccd0d3;
    --tabHv: #b9bdbe;

    --tabHeight: 40px;
}

[data-theme="dark"] {
    --primaryButton: #4D9DE0;
    --bodyBg: #1c2e3b;
    --contBg: #2a3a46;
    --color: #FBFBFB;
    --gray: #b6b6b8;
    --tabBg: #3e4c57;
    --tabHv: #495a68;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.TabView{
    position: absolute;
    left: 249px;
    right: 0;
    color: var(--color);
}


.TabView .body{
    /* left: 250px; */
    right: 0;
}

.TabView .tabs{
    position: relative;
    /* align-items: center; */
    height: var(--tabHeight);
    width: 100%;
    background-color: var(--tabBg);
    z-index: 2;
}

.TabView .tabs .tab{
    position: relative;
    padding: 5px 3em;
    /* border-right: 1px solid gray; */
    z-index: 3;
    background-color: var(--tabBg);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    transition: background-color 200ms ease-in;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.TabView .tabs .active-tab {
    position: relative;
    padding: 5px 3em;
    background-color: var(--bodyBg);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: 1px solid var(--bodyBg);
    z-index: 4;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.tab .borderRight{
    position: absolute;
    border-right: 1px solid var(--gray);
    top: 30%;
    bottom: 10%;
    right: 0;
    z-index: 5;
}

.TabView .content {
    position: absolute;
    background-color: var(--bodyBg);
    left: 0;
    right: 0;
    top: var(--tabHeight);
    bottom: 0;
    z-index: 3;
}

.active-tab:hover{
    cursor: pointer;
    z-index: 100;
}

.TabView .tabs .tab:hover{
    background-color: var(--tabHv);
    cursor: pointer;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    transition: background-color 200ms ease-in;
    z-index: 100;
}

.tabBtn{
    position: relative;
    display: inline-flex;
    align-items: center;
    color: var(--color);
    padding: 2px 10px;
    border-radius: 30px;
    transition: background-color 200ms ease-in;
    z-index: 100;
    margin-left: 2px;
}
.tabBtn:hover{
    cursor: pointer;
    background-color: var(--tabHv);
    transition: background-color 200ms ease-in;
    z-index: 2;
}

.deleteTab{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    color: #8e989b;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    font-size: 18px;
}

.deleteTab:hover{
    color: var(--color);
    transition: background-color 200ms ease-in;
}

.newBudgetContainer{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.newBudgetButton{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: var(--contBg);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content:center;
}

.circle{
    font-size: 120px;
    color: var(--primaryButton);
    border: var(--primaryButton) 3px solid;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.circle:hover{
    
    border: var(--light);
    background-color: var(--primaryButton);
    color: var(--light);
}

.plusSign{
    
    color: var(--primaryButton);
}

.body{
    background-color: var(--bodyBg);
    color: var(--color);
}

@media only screen and (max-width: 600px){
    .TabView{
        left: 50px;
        right: 0;
    }
}