*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

[data-theme="light"]{
    --primary: #3B71CA;
    --primaryButton: #0d6efd;
    --gray: #6c757d;
    --light: #FBFBFB;
    --color: #332D2D;
    --bodyBg: #FBFBFB;
    --contBg: #FBFBFB;
    --red: #EE4266;
}

[data-theme="dark"] {
    --primaryButton: #4D9DE0;
    --bodyBg: #1c2e3b;
    --contBg: #2a3a46;
    --color: #FBFBFB;
    --gray: #b6b6b8;
}

html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}



.background{
    position: relative;
    background-color: var(--bodyBg);
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 3;
    overflow-y: scroll;
    padding-bottom: 5px;
} 

.background::-webkit-scrollbar{
    display: none;
}


.appCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;   
}

.budgetContentContainer{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    /* background-color: #b6b6b8; */
}

.budgetContent{
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    /* background-color: #b6b6b8; */
    gap: 15px;
    justify-content: center;
    margin-bottom: 50px;
}

.graphsContainer{
    right: 0;
    left: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    height: 300px;

    /* background-color: coral; */
}


.barGraph{
    position: relative;
    height: 300px;
    width: 49%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: var(--contBg);
}

.graphTitle{
    position: absolute;
    left: 10px;
}

.graphBody{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.donutGraph{
    /* width: 300px; */
    position: relative;
    width: 24%;
    height: 300px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: var(--contBg);
}

.dataContainer{
    width: 24%;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height:300px;
    padding: 5px;
    background-color: var(--contBg);
    overflow-y: hidden;
    overflow-x: hidden;
}

.totalDetails{
    margin-top: 10px;
    margin: 0 10px;
    color: var(--color);
}

.statusContainer{
    color: var(--light);
    padding: 3px;
    border-radius: 5px;
}



.budgets{
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    display: flex; 
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
    /* background-color: #756388; */

    /* display: none; */
}

.budgetCard{
    color: var(--color);
    /* background-color: var(--bodyBg); */
    background-color: var(--contBg);
    border-radius: 5px;
}

.budgetsContainer {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 25px;
    background-color: var(--contBg);
    color: var(--color);
    width: 74%;
    min-width: 320px;
}

.budgetGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    align-items: flex-start;
}

.incomeContainer{
    /* display: flex; */
    /* flex-wrap: wrap; */
    width: 24%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--contBg);
    border-radius: 10px;
    padding: 25px;
    /* align-items: flex-start; */
}

.incomeTitle{
    display: flex;
    align-items: baseline;
}

.incomeList{
    display: flex;
    align-items: center;
    background-color: var(--bodyBg);
    padding: 0 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}


.addIncomeBtn{
    height: 35px;
    width: 100%;
}

.side-nav-container{
    background-color: var(--primary);
    width: 250px;
    height: 100vh;
    position: fixed;
    color: var(--light);   
    z-index: 5;
    transition: 0.4s;

    /* display: none; */
}

.side-nav-bottom{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 70px;
}


.nav-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 2px;
}

.pcLogo{
    background-image: url(./components/icons/pocketChangeLogo.svg);
    background-repeat: no-repeat;
    width: 200px;
    height: 50px;
    padding: 0 6px;
    color: #FBFBFB;
}

.pcIcon{
    display: none;
    background-image: url(./components/icons/pocketChangeIcon.svg);
    width: 36px;
    height: 36px;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.nav-menu ul{
    list-style: none;
    padding: 5px auto;
}

.nav-menu li{
    margin-top: 35px;
}

.nav-menu a{
    text-decoration: none;
    color: #ffffff;
}

.nav-menu i{
    margin-right: 5px;
}

.nav-menu p{
    display: inline-block;
}

.nav-menu li:hover a{
    background-color: var(--light);
    color: #3B71CA;
    padding: 8px 30px 8px 8px;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3);
    transition: 0.2s;
}

.nav-menu a.active{
    background-color: var(--light);
    color: #3B71CA;
    padding: 8px 30px 8px 8px;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3);
}

.optionsIcon{
    margin-left: 10px;
    padding: 0 5px;
    color: var(--gray);
}

.optionsIcon:hover{
    cursor: pointer;
}

.deleteButton{
    padding: 0;
    /* margin: 0; */
    width: 25px;
    height: 25px;
    border: var(--red) solid 1px;
    border-radius: 5px;
    color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.addExpenseButton{
    color: var(--primaryButton);
    border: var(--primaryButton) solid 1px;
    padding: 5px 8px;
    border-radius: 5px;
}

.addExpenseButton:hover{
    cursor: pointer;
    color: var(--light);
    background: var(--primaryButton);
    transition: all 0.1s ease-in;
}

.viewExpensesButton{
    color: var(--gray);
    border: var(--gray) solid 1px;
    padding: 5px 8px;
    border-radius: 5px;
}

.viewExpensesButton:hover{
    cursor: pointer;
    color: var(--light);
    background: var(--gray);
    transition: all 0.1s ease-in;
}

.deleteButton:hover{
    cursor: pointer;
    background-color: var(--red);
    color:#ffffff;
    scale: 1.1;
}


/* Eductaion Page*/
.pageContent{
    margin-top: 10px;
    color: var(--color);
    top: 0;
    left: 249px;
    right: 0;
    position: absolute;
    display: flex; 
    flex-wrap: wrap;
    /* justify-content: center; */
}

.pageTitleContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.pageTitle{
    position: relative;
    margin-left: 10px;
    display: flex;
    align-items:baseline;
}

.deleteIcon{
    color: var(--red);
    /* margin-left: 10px; */
    border: var(--red) 1px solid;
    padding: 1px 5px;
    border-radius: 3px;
}

.deleteIcon:hover{
    cursor: pointer;
    scale: 1.2;
    
    
    
    background: var(--red);
    color: #ffffff;
}

.titleInfo{
    width: 190px;
    height: 60px;
    padding: 0 10px;
    background-color: var(--contBg);
    border-radius: 10px;
    color: var(--primaryButton);
    margin-left: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
}

.titleInfo:hover{
    background-color: var(--primaryButton);
    color: var(--light);
}

.titleInfoBody{
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    align-items: center;
}

.titleMainInfo{
    font-size: 26px;
    font-weight: 500;
    flex-basis: 100%;
}

.titleFooter{
    position: relative;
    top: -9px;
    left: 0;
    font-size: 13px;
    color: #828285;
    font-weight: 500;
}

.titleInfoIcon{
    margin-top: 10px;
    margin-left: 10px;
    color: #828285;
}

.titleInfo:hover > .titleInfoIcon{
    color: var(--light);
}

.titleInfo:hover > .titleInfoBody > .titleFooter{
    color: var(--light);
}

.pageText{
    margin-left: 10px;
    font-size: 20px;
    margin-top: 5px;
}

.eduContainer{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px 50px;
    background-color: var(--contBg);
    color: var(--color);
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.eduContainer p{
    line-height: 30px;
    margin: 0 20px;
    margin-bottom: 15px;
}

.undCredit{
    margin-bottom: 40px;
}

.textContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    gap: 20px;
    margin-top: 40px;
    
}

.textBox{
    width: 300px;
    height: 500px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: var(--bodyBg);
}

.currencyContainer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 20vw;
    height: 95vh;
    /* background-color: red; */
}

.widgetContainer{
    background-color: var(--contBg);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 50px;
    
    align-items: center;
    justify-content: center;
}

.input{
    border: var(--color) 2px solid;
    border-radius: 5px;
    padding: .25rem;
    width: 7em;
}

.select{
    margin-left: 5px;
    border: var(--color) 2px solid;
    border-radius: 5px;
}

.creditImg{
    float: right;
    background-color: #FBFBFB;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px 0;
}

.fileContainer{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    top: 200px;
    right: 0;
    left: 0;
    height: 55vh;
}

.fileBox{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 50px 50px;
    background-color: var(--contBg);
    color: var(--color);
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: 10px;
    z-index: 2;
}

.fileBox:hover{
    scale: 1.2;
    transition: all .2s ease-in-out;
    z-index: 3;
}

.fileTitle{
    flex-basis: 100%;
    height: 35%;
    font-size: 55px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.fileText{ 
    /* margin-top: 60px;  */
    display: flex;
    font-size: 20px;
    flex-basis: 100%;
    height: 20%;
    justify-content: center;
}

.flexBreak{
    flex-basis: 100%;
    height: 0;
}

.fileBtn{
    position: absolute;
    margin-top: 160px;
    padding: 5px 20px;
    border: var(--primaryButton) solid 1px;
    border-radius: 10px;
    color: var(--primaryButton);
    text-decoration: none;
}

.fileBtn:hover{
    cursor: pointer;
    background-color: var(--primaryButton);
    color: #ffffff;
}


/* Add Budget Modal */
.newBudgetModalContainer{
    display: flex;
    align-content: flex-start;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.budgetName{
    margin-right: 10px;
    width: 100%;
    
}

.budgetGoal{
    margin-top: 10px;
    margin-right: 10px;
    width: 100%;
}


.editBudgetBtn{
    width: 30px;
    height: 30px;
    border-radius: 15%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 5px;
}

.editBudgetBtn:hover{
    cursor: pointer;
}

.optionsDropDown{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--contBg);
    width: 80px;
    height: 70px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    top: 20px;
    left: 290px;
    z-index: 100;

}

.optionsItemEdit{
    display: flex;
    position: relative;
    align-items: center;
    flex-basis: 100%;
    margin-bottom: 2px;
    padding-left: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.optionsItemDelete{
    display: flex;
    position: relative;
    align-items: center;
    flex-basis: 100%;
    padding-left: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.optionsItemEdit:hover{
    background-color: #b6b6b8;
    cursor: pointer;
}
.optionsItemDelete:hover{
    background-color: var(--red);
    cursor: pointer;
}

.blankSpace{
    position: absolute;
    /* background-color: #0d6efd; */
    width: 100vw;
    height: 100vh;
    z-index: 99;
}

.modalContainer{
    display: flex;
    justify-content:space-around;
}

.createBudgetCont{
    width: 45%;
}

.dividerLine{
    border-left: #b6b6b8 2px solid;
    height: 220px;
    width: 2px;
}

.selectBudgetCont{
    width: 45%;
}

.modalHeader{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.modalTitle{
    flex-basis: 100%;
}

.modalDescription{
    flex-basis: 100%;
}

.closeModalBtn{
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 40px;
}

.closeModalBtn:hover{
    cursor: pointer;
    color: #4d4f52
}

@media only screen and (max-width: 1200px){
    .graphsContainer{
        /* display:none; */
        height: auto;
    }

    .barGraph{
        height: auto;
        width: 60%;
        min-width: 320px;
    }

    .donutGraph{
        display: none;
    }

    .dataContainer{
        width: 35%;
        min-width: 320px;
    }

    .incomeContainer{
        width: 35%;
        min-width: 320px;
    }
    
    .budgets{
        /* top: 60px; */
        margin-top: 0;
    }

    .budgetGrid{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media only screen and (max-width: 600px){

    .budgetsContainer{
        padding: 10px;
    }

    .pageContent{
        left: 50px;
    }

    .barGraph{
        width: 320px;
        height: auto;
    }

    .totalDetails{
        display: none;
    }

    .dataContainer{
        height: 120px;
    }


    .side-nav-container{
        width: 50px;
        overflow: hidden;
    }

    .side-nav-bottom{
        bottom: 20px;
    }

    .budgets{
        left: 0px;
        margin-bottom: 100px;
        
    }

    .pcLogo{
        display: none;
    }

    .pcIcon{
        display: block;
        width: 35px;
        height: 40px;
        background-repeat: no-repeat;
    }

    .nav-menu p{
        display: none;
    }

    .nav-menu{
        justify-content: center;
    }

    .nav-menu ul{
        padding: 0;
    }


    .nav-menu a{
        /* margin: 0 auto; */
        margin-left: 20px;
        padding: 0;

    }

    .nav-menu li:hover a{
        margin-left: 20px;
        background-color: var(--light);
        color: #3B71CA;
        padding: 8px 10px 8px 8px;
        border-radius: 6px;
        box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3);
        transition: 0.2s;
    }

    .nav-menu a.active{
        padding: 8px 10px 8px 8px;
    }
    
}











