*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    --primary: #3B71CA;
    --dark: #332D2D;
    --gray: #515152;
    --light: #FBFBFB;
}

.App{
    width: 100vw;
    height: 100vh;
}

/* .graphs{
    left: 200px;
    right: 0;
    position: absolute;
    display: flex;

} */

.graphsContainer{
    left: 200px;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    gap: 30px;
    height: 300px;
    /* background-color: coral; */
}


.barGraph{
    height: 100%;
    width: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donutGraph{
    /* width: 300px; */
    width: 25%;
    height: 100%;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.dataContainer{
    /* width: 300px; */
    width: 25%;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height:100%;
    padding: 5px;
    display: flexbox;
}

.totalDetails{
    margin-top: 10px;
    margin: 0 10px;
}

.budgets{
    top: 330px;
    left: 200px;
    right: 0;
    position: absolute;
    display: flex;
    /* background-color: #756388; */
    
}

.budgetsContainer {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 25px;
}


.side-nav-container{
    background-color: var(--primary);
    width: 200px;
    height: 100vh;
    position: fixed;
    color: var(--light);   
    z-index: 1;

    transition: 0.4s;
}


.nav-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 2px;
}

.pcLogo{
    width: 170px;
    padding: 0 6px;
    color: #FBFBFB;
}

.pcIcon{
    display: none;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.nav-menu ul{
    list-style: none;
    padding: 5px auto;
}

.nav-menu li{
    margin-top: 35px;
}

.nav-menu a{
    text-decoration: none;
    color: #ffffff;
}

.nav-menu i{
    margin-right: 5px;
}

.nav-menu p{
    display: inline-block;
}

.nav-menu li:hover a{
    background-color: var(--light);
    color: #3B71CA;
    padding: 8px 30px 8px 8px;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3);
    transition: 0.2s;
}

.optionsIcon{
    margin-left: 10px;
    padding: 0 5px;
    color: var(--gray);
}

.optionsIcon:hover{
    cursor: pointer;
}


@media only screen and (max-width: 1000px){
    
}

@media only screen and (max-width: 600px){
    .side-nav-container{
        width: 110px;
    }

    .budgets{
        left: 110px;
    }

    .pcLogo{
        display: none;
    }

    .pcIcon{
        display: block;
        width: 45px;
    }

    .nav-menu p{
        display: none;
    }

    .nav-menu{
        justify-content: center;
    }

    .nav-menu ul{
        padding: 0;
    }


    .nav-menu a{
        margin: 0 auto;
        padding: 0;
    }

    .nav-menu li:hover a{
        padding: 8px 8px 8px 8px;
    }
    
}











