*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    --primary: #3B71CA;
    --primaryButton: #0d6efd;
    --gray: #6c757d;
    --light: #FBFBFB;
    --color: #332D2D;
    --bodyBg: #FBFBFB;
    --contBg: #FBFBFB;
    --red: #EE4266;
}

[data-theme="dark"] {
    --primaryButton: #4D9DE0;
    --bodyBg: #1c2e3b;
    --contBg: #2a3a46;
    --color: #FBFBFB;
    --gray: #b6b6b8;
}

html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}



.background{
    position: relative;
    background-color: var(--bodyBg);
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 3;
    overflow-y: scroll;
    padding-bottom: 5px;
} 

.background::-webkit-scrollbar{
    display: none;
}


.appCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;   
}

.budgetTitle{
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
}
.graphs{
    left: 0;
    right: 0;
    position: relative;    
    margin-top: 15px;

    /* background-color: #d15ca4; */
    /* display: none; */
}

.graphsContainer{
    right: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 1px; */
    height: 300px;
    flex-wrap: wrap;

    /* background-color: coral; */
}


.barGraph{
    height: 100%;
    width: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--contBg);
}

.donutGraph{
    /* width: 300px; */
    width: 24%;
    height: 100%;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: var(--contBg);
}

.dataContainer{
    width: 24%;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height:100%;
    padding: 5px;
    background-color: var(--contBg);
}

.totalDetails{
    margin-top: 10px;
    margin: 0 10px;
    color: var(--color);
}



.budgets{
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    display: flex; 
    justify-content: center;
    margin-bottom: 40px;
    /* background-color: #756388; */

    /* display: none; */
}

.budgetCard{
    color: var(--color);
    background-color: var(--bodyBg);
    border-radius: 5px;
}

.budgetsContainer {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 25px;
    background-color: var(--contBg);
    color: var(--color);
}

.budgetGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    align-items: flex-start;
}


.side-nav-container{
    background-color: var(--primary);
    width: 250px;
    height: 100vh;
    position: fixed;
    color: var(--light);   
    z-index: 5;
    transition: 0.4s;

    /* display: none; */
}

.side-nav-bottom{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 70px;
}


.nav-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 2px;
}

.pcLogo{
    background-image: url(./components/icons/pocketChangeLogo.svg);
    width: 150px;
    height: 20px;
    padding: 0 6px;
    color: #FBFBFB;
}

.pcIcon{
    display: none;
    background-image: url(./components/icons/pocketChangeIcon.svg);
    width: 36px;
    height: 36px;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.nav-menu ul{
    list-style: none;
    padding: 5px auto;
}

.nav-menu li{
    margin-top: 35px;
}

.nav-menu a{
    text-decoration: none;
    color: #ffffff;
}

.nav-menu i{
    margin-right: 5px;
}

.nav-menu p{
    display: inline-block;
}

.nav-menu li:hover a{
    background-color: var(--light);
    color: #3B71CA;
    padding: 8px 30px 8px 8px;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3);
    transition: 0.2s;
}

.optionsIcon{
    margin-left: 10px;
    padding: 0 5px;
    color: var(--gray);
}

.optionsIcon:hover{
    cursor: pointer;
}

.deleteButton{
    padding: 0;
    /* margin: 0; */
    width: 25px;
    height: 25px;
    border: var(--red) solid 1px;
    border-radius: 5px;
    color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.addExpenseButton{
    color: var(--primaryButton);
    border: var(--primaryButton) solid 1px;
    padding: 5px 8px;
    border-radius: 5px;
}

.addExpenseButton:hover{
    cursor: pointer;
    color: var(--light);
    background: var(--primaryButton);
    transition: all 0.1s ease-in;
}

.viewExpensesButton{
    color: var(--gray);
    border: var(--gray) solid 1px;
    padding: 5px 8px;
    border-radius: 5px;
}

.viewExpensesButton:hover{
    cursor: pointer;
    color: var(--light);
    background: var(--gray);
    transition: all 0.1s ease-in;
}

.deleteButton:hover{
    cursor: pointer;
    background-color: var(--red);
    color:#ffffff;
    scale: 1.1;
}



@media only screen and (max-width: 1200px){
    .graphsContainer{
        display:none;
    }
    
    .budgets{
        top: 0;
    }

    .budgetGrid{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media only screen and (max-width: 600px){
    .side-nav-container{
        width: 50px;
    }

    .budgets{
        left: 50px;
    }

    .pcLogo{
        display: none;
    }

    .pcIcon{
        display: block;
        width: 30px;
    }

    .nav-menu p{
        display: none;
    }

    .nav-menu{
        justify-content: center;
    }

    .nav-menu ul{
        padding: 0;
    }


    .nav-menu a{
        margin: 0 auto;
        padding: 0;
    }

    .nav-menu li:hover a{
        padding: 8px 8px 8px 8px;
    }
    
}











